/* Universal Settins*/

html {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: gray;
}

h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}



/* Navication Menu*/

.nav-bar {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 5rem;
}

main {
  position: relative;
  top: 5rem;
}

.nav-one {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.nav-two {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home {
  font-size: 2rem;
}

/*banner*/

.co-title {
  height: 12rem;
  width: 100%;
  background-image: url("../images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 20%;
  height: 6rem;
  background-color: black;
  color: white;
  padding: 0.5rem 0.5rem;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*main*/

.main-info {
  height: auto;
  padding: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-text {
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
}

/*footer*/

.main-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.esa {
  display: flex;
  flex-direction: column;
}

.esa span {
  text-align: center;
  color: white;
  padding-top: 0.5rem;
}
